@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Marcellus+SC&display=swap");
/* Marcellus */

:root {
  --background: #212121;
  --white: #d6dbdf;
  --paper: gold;
  --highlight: lightgreen;
  --text: "Marcellus", serif;
  --title: "Marcellus SC", serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: var(--background);
  color: var(--paper);
}

/* Header */

header {
  background-color: #17202a;
  height: 11vh;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

h1 {
  color: var(--highlight);
  font-family: var(--title);
  padding-top: 1vh;
}

nav {
  padding-top: 2vh;
}

ul {
  list-style: none;
  position: relative;
  float: center;
  font-family: var(--text);
}

li {
  display: inline;
  padding: 10px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 1vw;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: var(--paper);
  cursor: default;
}

li:hover {
  background-color: var(--paper);
  color: var(--background);
}

/* Main */

article {
  margin-top: 2vh;
  font-family: var(--text);
  color: var(--white);
}

section {
    margin-top: 2vh;
}

p {
    margin-top: 1vh;
    color: var(--white);
    font-size: 1vw;
}

h3#selected {
    color: lightpink;
}
