@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

:root {
    --black: #17202A;
    --white: #EAECEE;
    --font-title: 'Dela Gothic One', cursive;
}

* {
    margin: 0;
    padding: 0;
    transition: all ease .5s;
}

body {
    background-color: var(--black);
}

header {
    width: 100vw;
    background-color: var(--white);
    text-transform: uppercase;
    font-family: var(--font-title);
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

header nav li {
    display: flex;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: var(--black);
    font-size: 20px;
    cursor: pointer;
}

header nav a:hover {
    font-size: 30px;
}
