@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Marcellus+SC&display=swap'); /* Marcellus */

:root {
    --background: #212F3C;
    --white: #D6DBDF;
    --paper: #faf6d0;
    --highlight: #c7d8ab;
    --text: 'Marcellus', serif;
    --title: 'Marcellus SC', serif;
}

body {
    text-align: center;
    background-color: var(--background);
    color: var(--paper);
}

/* Header */

header {
    color: var(--highlight);
    font-family: var(--title);
}

/* Body */

article {
    display: grid;
    font-family: var(--text);
}

section {
    margin: 5px;
    border: .5px solid;
    border-radius: 5px;
    cursor: pointer;
}

h6 {
    letter-spacing: 1px;
    color: var(--white);
}

h6#selected {
    font-weight: bold;
    color: var(--highlight);
}

/* Details */

summary {
    list-style: none;
}