@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Nunito&family=Pacifico&family=Poppins&display=swap");

:root {
  --black: #17202a;
  --white: #eaecee;
  --grey: rgba(255, 255, 255, .1);
  --title-color: #bad962;
  --subtitle-color: #f6be5f;

  --font-title: "Pacifico", cursive;
  --font-text: "Poppins", sans-serif;
  --font-write: "Caveat", cursive;
  --font-round: "Nunito", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  transition: ease 0.5s;
}

body {
  background-color: var(--black);
  text-align: center;
  width: 100vw;
}

/*HEADER*/

header {
  background-color: var(--white);
  font-family: var(--font-text);
  text-transform: uppercase;
  width: 100vw;
}

header h1 {
  font-family: var(--font-title);
}

header table {
  margin: 0 2vw;
  border: solid 5px var(--black);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom: 0;

  background-color: var(--black);
  color: var(--white);
}

header td {
  text-align: start;
  padding-right: 25px;
}

header th {
  text-align: end;
  padding-left: 25px;
}

header th,
header td {
  white-space: nowrap;
  width: auto;
}

/*MAIN*/

main {
  color: var(--white);
}

main th,
main b {
  font-family: var(--font-text);
}

article,
section {
  margin: 1em;
}

/*SECTIONS*/

span {
  font-family: var(--font-round);
}

.span-list {
  padding-left: 1em;
}

span#write {
  font-family: var(--font-write);
  font-size: 20px;
}

.section-img img {
  border-radius: 10px;
}

/*TABLES*/

table {
  display: flex;
  justify-content: space-around;
  align-items: center;
  white-space: nowrap;
  width: auto;
}

main table th {
  color: var(--subtitle-color);
}

tr,
td,
th {
  padding: 0.3em 0.5em;
  width: 100vw;
}

td {
  font-family: var(--font-write);
  font-size: 20px;
}

b {
  color: var(--subtitle-color);
}

.b-title {
  color: var(--title-color);
}

p {
  font-family: var(--font-round);
  text-align: justify;
}

.table-skills td,
.table-skills th {
  border-bottom: solid 1px var(--grey);
  text-align: start;
}

.table-skills td {
  width: auto;
}

.table-weapon td {
  white-space: nowrap;
  width: auto;
}

/* GRID */

article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

section {
  border: 1px solid;
  border: var(--white) solid 2px;
  border-radius: 10px;
  padding: 1em;
}

.section-perso {
  grid-column: 3;
  grid-row: 5;
}

.section-com {
  grid-column: 1;
  grid-row: 5;
}

.section-att {
  grid-row: 1 / 5;
  grid-column: 2;
}

.section-backpack {
  grid-column: 3;
  grid-row: 2 / 5;
}

.section-weapon {
  grid-column: 1;
  grid-row: 2;
}

.section-hp {
  grid-column: 3;
  grid-row: 1;
}

.section-skills {
  grid-column: 1;
  grid-row: 3/5;
}

/*Scrollbar*/

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--white);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--grey);
}
